:root {
    --monitor-width: 1366px;
    --monitor-height: 768px;
}

div.absen.slick-slide div div div.status-kehadiran {
    margin-top: 31.54vh;
}
div.absen.slick-slide div div div.status-kehadiran h2 {
    font-size: 5vh !important;
}
div.mengajar.slick-slide div div div.status-kehadiran {
    margin-top: 31.54vh;
}
div.mengajar.slick-slide div div div.status-kehadiran h2 {
    font-size: 5vh !important;
}

.hadir {
    background-color: var(--dosen_card_hadir);
}

div.slick-track div.mengajar div.card-mahasiswa.text-center {
    opacity: 0;
}
div.slick-track div.absen div.card-mahasiswa.text-center {
    opacity: 0 !important;
}

.absen {
    background-color: var(--dosen_card_absen);
}
.kosong {
    background-color: #d5e1e5;
}
.mengajar {
    background-color: var(--dosen_card_mengajar);
}

.slick-slide {
    height: 82vh !important;
    width: 78vw;
    padding: 2vh 1vw;
}

/* Untuk Fixed Width Screen 1366px V */

@media screen and (min-width: 1366px) and (max-width: 1366px) {
    body {
        background-image: url("/storage/1366x768-frame-test.png");
    }
}
@media screen and (min-width: 1920px) and (max-width: 1920px) {
    body {
        background-image: url("/storage/1920x1080-frame-test.png");
        background-size: auto;
    }
}
